

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Global */
header {
  margin: 0 0 5rem 0;
  height: 20vh;
}

main {
  margin: 5rem 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  gap: 1.5;
}

.flex {
  display: flex;
}

h2 {
  margin-bottom: 1rem;
}

.screen_reader {
  display: none;
}

/* Specifics */
nav > a {
  position: absolute;
  left: 1.3rem;
  top: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 90%;
  margin: 50px auto;
}

.large_nav {
  position: relative;
  right: 2rem;
  float: right;
  top: 4rem;
}

.large_nav li {
  margin-left: 3rem;
}

.post {
  width: 50%;
  margin-bottom: 1rem;
}

footer li {
  margin-bottom: 0.8rem;
}

footer form {
  flex-direction: column;
  width: 80%;
  
}

/* NAVIGATION Modal */
.nav_modal {
  background: green;
  height: 100vh;
  padding: 2em;
  position: absolute;
  top: -200vh;
  transition: 1s;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  top: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

.nav__show {
  position: absolute;
  right: 1.3rem;
  top: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  top: 0;
}

.hide-icon {
  top: -100px;
}

/* Footer */
footer {
  padding: 1em;
}

footer section:not(:last-child) {
  margin-bottom: 5rem;
}

footer section > div {
  margin-bottom: 2rem;
}

/* Phone Modal */
.phone_modal_icon {
	position: fixed;
	right: 1em;
	bottom: 3em;
}
.phone_quicklinks {
	width: 45px;
	height: 45px;
	background: #00BFA5;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 4px #00BFA5;
	color: #161616;
}

.phone_modal {
	width: 60%;
	height: 200px;
	position: fixed;
	bottom: 0;
	right: -400px;
	background: #161616;
	border: 2px solid #00BFA5;
	padding: 1em;
	border-radius: 5px;
	color: #fff;
	fill: #fff;
	max-width: 400px;
	transition: 0.5s ease;
}

.channel {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.contact_channels {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 140px
}

.close_modal svg {
	width: 20px;
	height: 20px;
}

.channel svg {
	margin-right: 6px;
  width: 20x;
	height: 20px;
}

.phone_quicklinks svg {
	width: 25x;
	height: 25px;
}

/* Media Queries */
@media screen and (max-width:800px) {
  .hide_small_screen {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .hide_large_screen {
    display: none;
  }
}